@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

nav {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
body{
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}
.tutulo1{
    font-family: 'Bungee Inline', cursive;
    font-size: 46px;
    
}
#starters{
    border: 2px solid black;
}
#desserts{
    border: 2px solid black;
}

section dl dt::after{
    content: ",";
}

dt {
    display: inline; 
    font-weight: bold; 
    font-size: 16px;
    
}
dt:hover{
   background-color: gray;
   cursor: pointer;
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
}
address{
    text-align: right;
}
#main {width: 900px; margin: 10px auto;}
#menu {columns: 420px 2; column-gap: 60px;}
section {margin-bottom: 20px; padding: 10px;}
dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}
.price {float: right; padding: 0 0 35px 20px;}

